@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;300;200;900&display=swap');
body,
button,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    background: #e8e8e8;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

:root {
    --dark-blue: #1d1d1d;
    --light-gray: #bfbfc1;
}

h2,
h4 {
    margin: 5px;
}

h4 {
    font-weight: normal;
}

h1 {
    font-size: 80px;
    margin: 0;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iphone-container {
    width: 350px;
    height: 700px;
    background-color: var(--dark-blue);
    border-radius: 45px;
    border: 20px solid black;
    position: relative;
    color: white;
    text-align: center;
    padding: 60px 10px 20px;
    margin-right: 100px;
}

.iphone-container .not {
    width: 180px;
    height: 25px;
    background: #bfbfc1;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
}

.iphone-container .menu {
    width: 90px;
    height: 2px;
    background-color: var(--light-gray);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
}

.iphone-container svg {
    height: 100px;
    width: 100px;
    margin: 40px 0 20px;
}

.iphone-container .week-weather {
    text-align: left;
    margin-top: 40px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: var(--light-gray);
    grid-gap: 1rem;
}


/*phone two*/

.iphone-container2 {
    width: 350px;
    height: 700px;
    background-color: var(--dark-blue);
    border-radius: 45px;
    border: 20px solid black;
    position: relative;
    color: white;
    text-align: center;
    padding: 60px 10px 20px;
    margin-right: 100px;
    flex-direction: column;
    justify-content: space-around;
}

.iphone-container2 .not2 {
    width: 180px;
    height: 25px;
    background: #bfbfc1;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
}

.iphone-container2 .menu2 {
    width: 90px;
    height: 2px;
    background-color: var(--light-gray);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
}

.iphone-container2 .top-icon {
    width: 50px;
    height: 50px;
}

.iphone-container2 .city-name {
    font-weight: 300;
    color: var(--light-gray);
}

.iphone-container2 h1 {
    font-size: 70px;
    font-weight: 200;
    margin: 0;
}

.iphone-container2 h3 {
    font-weight: 400;
}

.iphone-container2 .week {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.iphone-container2 .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 100px;
}

.iphone-container2 .footer svg {
    width: 30px;
    height: 30px;
}